.allRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.recipe-container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.recipe-list-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Drei Spalten für große Bildschirme */
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.recipe-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.image-container {
  border-radius: 20px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-item strong {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.recipe-item p {
  margin: 5px 0;
}

.recipe_button {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .recipe-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .recipe-list-container {
    grid-template-columns: 1fr;
  }
}
