.yellow_bar {
  height: 50px;
  width: 100%;
  background-color: #ffdb63;
}
.app-header {
  background-color: white;
  padding: 20px 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
