.yellow_bar {
  height: 50px;
  width: 100%;
  background-color: #ffdb63;
}

.app-header {
  padding: 25px 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_wrapper {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar-container {
  margin-left: 20px;
}

.searchbar-container input {
  padding: 5px;
  font-size: 14px;
}
