.footer_wrapper {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #ffdb63;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow_logo {
  height: 200px;
  padding-left: 50px;
}

.footer_inner_wrapper {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 50px;
}
