.app {
  font-family: Arial, sans-serif;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.app-content {
  margin: 0 auto;
  width: 1200px;
  border: 1px solid yellow;
}
